/* ===== RÉINITIALISATION ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== STYLE GÉNÉRAL ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.7;
    padding: 30px;
}

/* ===== TITRE ===== */
h1 {
    text-align: center;
    color: #38bdf8;

    margin-bottom: 30px;
}

/* ===== PARAGRAPHES ===== */
p {
    max-width: 800px;
    margin: 15px auto;
    font-size: 16px;
    background-color: #020617;
    padding: 20px;
    border-radius: 10px;
}

/* ===== TEXTE IMPORTANT ===== */
strong {
    color: #38bdf8;
}
/* ===== NAVBAR ===== */
header {
    background-color: #0f172a;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #38bdf8;
    font-size: 24px;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

